<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wzy.lamanpro">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.HARDWARE_TEST"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:name=".common.LaManApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".activity.UserDetails"
            android:label="@string/title_activity_manage_users"
            android:parentActivityName=".activity.ManageUsers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wzy.lamanpro.activity.ManageUsers" />
        </activity>
        <activity
            android:name=".activity.ManageUsers"
            android:label="@string/title_activity_manage_users"
            android:parentActivityName=".activity.Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wzy.lamanpro.activity.Main2Activity" />
        </activity>
        <activity
            android:name=".activity.SettingTest"
            android:label="@string/title_activity_setting_test"
            android:parentActivityName=".activity.Main2Activity"
            android:theme="@style/CommonPopup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wzy.lamanpro.activity.Main2Activity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wzy.lamanpro.activity.Main2Activity" />
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
            <!-- </intent-filter> -->
            <!-- 以下这个meta-data是要手工增加上，他是用来过滤你的具体USB设备的，其中的device_filter是个xml文件 -->
            <!-- <meta-data -->
            <!-- android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" -->
            <!-- android:resource="@xml/device_filter" /> -->
        </activity>
        <activity
            android:name=".activity.FirstActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>